
<div class="about">
    <div class="container">
        <h3 class="about-title">About</h3>
        <h3 class="about-subtitle">What is Slippi?</h3>
        <p class="about-description">
            Super Smash Bros Melee was released in 2001 and is an absolute masterpiece of a game
            Long-term players know that the game has nearly infinite possibilities as a competitive game.
            Being an old game, it lacks many of the features you expect to find in more recent esport titles.

            The goal of Slippi is to bring Melee into the future and invigorate the sport surrounding the game. So far this 
            has come in the form of enabling:
        </p>
        <ul class="about-features">
            <li>Portable replay files</li>
            <li>Complex gameplay stats</li>
            <li>Improved streaming video quality</li>
            <li>Improved online netcode</li>
            <li>Online matchmaking</li>
            <li>And more...</li>
        </ul>
        <h3 class="about-subtitle">Who works on Slippi?</h3>
        <p class="about-description">
            A large part of the projet is open sourc and there have been a handful of
            notable contributors throughout Slippi's development. That said, we have organically
            established somewhat of a core team.
        </p>
        <ul class="about-team">
            <li class="about-team-member">Person 1</li>
            <li class="about-team-member">Person 2</li>
            <li class="about-team-member">Person 3</li>
            <li class="about-team-member">Person 4</li>
            <li class="about-team-member">Person 5</li>
            <li class="about-team-member">Person 6</li>
        </ul>
        <h3 class="about-subtittle">Socials</h3>
        <p class="about-description">
            For support questions, head to the Slippi Discord
            For updates on the project, follow the Slippi Twitter
            Many component of SLippi are open source. To browse, visit our Github
        </p>
    </div>
</div>

